@font-face {
   font-family: Roboto;
   src: url("assets/fonts/Roboto.ttf");

 }
 * {
   box-sizing: border-box;
   text-decoration: none;

 }
 body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   margin: 0; padding: 0;
   background-color: rgba(16, 194, 214, 0.3);

 }
 .container {
   max-width: 1440px;
   margin: 0 auto;
   background-color: rgba(16, 86, 97, 0.3);

 }
 .nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 html {
   scroll-behavior: smooth;
 }
 .nav-list {
   list-style: none;
 }

 .nav-link {
   padding: 0 20px;
   line-height: 50px;
 }

 .nav-link {
   transition: 0.3s;
 }

 .section-item a {
   color: #829985;
   text-decoration: none;
   transition: color 0.5s;
 }
 .section-item a:hover {
   color: #4d2323;
 }

 .main-container {
   display: flex;
   flex-wrap: wrap;
   padding-top: 200px;
   margin-bottom: 100px;

 }

 .section {
   width: 50%;
 }
h1 {
   text-align: center;
}
.nav-item {
   text-decoration: none;
}

.footer-icons {
   display: flex;
   margin: 0 auto;
   padding: 0.5rem;
   height: 3rem;
   justify-content: space-between;
   align-items: center;
   background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
}